{% extends "base.html" %}

{%- block title %}
     <title>{{strings['base3']}}: {{strings['similar1']}}</title>
{%- endblock title %}
         

{% block content %}
        <div class="row">
            <div class="col-md-7">
        <h2>{{strings['similar1']}}</h2>
         <div id="queryform">
         <form id="inputform" action="#" method=post>
              <div class="form-group">
                  <p>{{strings['similar2']}}</p>
                {% if list_value %}
                <input type="text" class="typeahead" id="query" name="list_query" value="{{ word }}" maxlength=100>
                {% else %}
                <input type="text" class="typeahead" id="query" name="list_query" value="{{strings['home7']}}" maxlength=100>
                {% endif %}
              </div>
              
              <div class="checkbox">
                  <p><small><em>{{strings['similar3']}}</em></small></p>
                <fieldset>
                <small>
                {% for m in models %}
		    <label>
                	<input type="checkbox" {%if m in usermodels %}checked{% endif %} name="model" value="{{ m }}">{{ strings[models[m]] }}
            	    </label>
                {% endfor %}
                </small>
                </fieldset>
              </div>
               {% if tags %}

                <p><small><em>{{strings['similar9']}}</em></small></p>
                <div class="radio">
                <small>
                {% for tag in tags2show %}
                     <label>
                        <input type="radio" name="pos" {% if tag in userpos %}checked{% endif %}  value="{{ tag }}"> {{strings[tags2show[tag]]}}
                     </label>
                {% endfor %}
                 <label>
                  <input type="radio" name="pos" {% if not userpos %} checked {% endif %} value="ALL"> {{strings['similar14']}}
                </label>
                <label>
                   <input type="radio" name="pos" {% if 'Q' in userpos %} checked {% endif %} value="Q"> {{strings['similar19']}}
                </label>
                </small>
                </div>
                {% endif %}

           <button type="submit" class="btn btn-primary" id="send" name="list_query">{{strings['similar15']}}</button>
            </form>
            </div>
 {% if list_value %}
      <h3><strong>{{strings['similar16']}} <a href="{{ url }}{{lang}}/{{ usermodels[0] }}/{{word}}"><i>{{ word.split('_')[0].replace('::', ' ') }}</i></a></strong> ({{ pos }})</h3>
        <div class="row">
    {% for model in list_value%}
        <div class="col-md-5">
        <h4><strong><a href="{{ url }}{{lang}}/models#{{model}}">{{ strings[models[model]]}}</a></strong></h4>
        <big>
        {% if list_value[model] == "Unknown!" %}
            {{ strings['similar18'] }} "{{ word.split('_')[0] }}"
        {% elif list_value[model] == "No results!"  %}
    	    {{strings['similar23']}}
	{% else %}
        <ol>
        {% for res in list_value[model] if res != "Incorrect tag!" %}
        <li style='margin: 10px 0;'>
        <a href="{{ url }}{{lang}}/{{ model }}/{{res[0]}}/">{{res[0].split('_')[0].replace('::', ' ')}}</a> {{ "{:.2f} ".format(res[1]) }}
        {% if wordimages[res[0].split('_')[0]]  %}
	        <div class="avataricon">
		    <a href="https://en.wikipedia.org/wiki/{{ res[0].split('_')[0] }}" target="_blank">
                <img src = "{{ wordimages[res[0].split('_')[0]] }}" alt = "{{res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" title = "{{ res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" width="30">
            </a>
	        </div>
            {% endif %}
        </li>
        {% endfor %}
        </ol>
       {% endif %}
        </big>
        </div>
    {% endfor %}
        </div>
{% endif %}
        
         {% if error %}
        <p> <span style = "font-size:larger;"><strong>
          {% if 'Incorrect tag' in error %}
                   {{strings['similar22']}}
             {% elif 'Incorrect query' in error %}
                   {{strings['similar21']}}
            {% else %}
            {{strings['similar18']}} {{ word }}
          {% endif %}
          </strong></span><p>
         {% endif %}
         </div>
                </div>
{% endblock %}
