{%- block doc %}
<!DOCTYPE html>
<html{% block html_attribs %} lang="{{ lang }}"{% endblock html_attribs %}>
{%- block html %}
<head>
  {%- block head -%}
  {%- block title %}
  <title>{{strings['base1']}}</title>
  {%- endblock title -%}
  {%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{strings['description1']}}">
  {%- endblock metas -%}
  {%- block styles %}
  <!-- Bootstrap -->
  <link href="{{ url }}data/css/bootstrap.min.css/" rel="stylesheet" media="screen">
  <link href="{{ url }}data/css/typeahead.css/" rel="stylesheet">
  <link href="{{ url }}data/css/avatar.css/" rel="stylesheet" media="screen">
  <link href="{{ url }}data/css/results.css/" rel="stylesheet" media="screen">
  <link href="{{ url }}data/css/radio-and-checkbox.css/" rel="stylesheet" media="screen">
  {%- endblock styles -%}
  {%- endblock head %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{%- block body -%}
{%- block navbar %}
<nav class="navbar navbar-primary navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">{{strings['base2']}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url }}{{lang}}/">{{strings['base3']}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url }}{{lang}}/associates/">{{strings['base6']}}</a></li>
        <li><a href="{{ url }}{{lang}}/visual/">{{strings['base13']}}</a></li>
        <li><a href="{{ url }}{{lang}}/calculator/">{{strings['base5']}}</a></li>
        <li><a href="{{ url }}{{lang}}/contextual/">{{strings['base20']}}</a></li>
        <li><a href="{{ url }}{{lang}}/misc/">{{strings['base17']}}</a></li>
        <li><a href="{{ url }}{{lang}}/about/">{{strings['base4']}}</a></li>
        {%- if lang=="en" %}
        <li><a title="{{strings['base16']}}" href="{{request.script_root}}/{{ other_lang }}{{request.path[3:]}}">{{ languages }}</a></li>
        {%- else %}
        <li><a title="{{strings['base16']}}" href="{{request.script_root}}/{{ other_lang }}{{request.path[3:]}}">{{ languages }}</a></li>
        {%- endif %}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
{%- endblock navbar %}
<div class="container">
  <div class="starter-template">
    <span><br><br><br></span>
    {%- block content -%}
    {%- endblock content %}
    <div class="text-nowrap">
      <hr>
      <p style="text-align:right;"><small><a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <img alt="{{strings['base12']}}" title="{{strings['base12']}}" style="border-width:0" src="{{ url }}data/images/88x31.png/" />
        </a></small>
      </p>
    </div>
  </div>
</div>
{%- block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{{ url }}data/js/bootstrap.min.js/"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url }}data/js/ie10-viewport-bug-workaround.js/"></script>
<script src="{{ url }}data/js/typeahead/bloodhound.min.js/"></script>
<script src="{{ url }}data/js/typeahead/typeahead.bundle.min.js/"></script>
<script src="{{ url }}data/js/hint.js/"></script>
<script src="{{ url }}data/js/addfield.js/"></script>
<script src="{{ url }}data/js/sorttable.js/"></script>
<script src="{{ url }}data/js/filter.js/"></script>
<script src="{{ url }}data/js/genviz.js"></script>
{%- endblock scripts %}
{%- endblock body %}
</body>
{% endblock html -%}
</html>
{%- endblock doc -%}
