{% extends "base.html" %}

{% block title %}
     <title>{{strings['base3']}}: {{strings['calc1']}}</title>
 {% endblock title %}


{% block content %}

 <script>
        function ShowHide(divId)
        {
        if(document.getElementById(divId).style.display == 'none')
        {
        document.getElementById(divId).style.display='block';
        }
        else
        {
        document.getElementById(divId).style.display = 'none';
        }
        }
        </script>

        <h1>{{strings['calc1']}}</h1>
            <div class="row">
                <div class="col-md-7">
              <form id="inputform" action="#" method=post>
              <div id="queryform">
              <div class="form-group">
                <p>{{strings['calc4']}}
		<div class = "row">
		<div class = "col-md-5">
        <input type="text" class="typeahead" style="width:200px;" id="query_negative" name="negative" {% if nlist %}value="{{nlist[0]}}"{% else %} value="{{strings['calc33']}}"{% endif %} maxlength=50>
            <img style="margin:0px auto;display:block" src = "{{ url }}data/images/arrow_down_blue.png" width="30" alt = "{{strings['calc31']}}" title = "{{strings['calc31']}}">
		<input type="text" class="typeahead" style="width:200px;" id="query_positive2" name="positive2" {% if plist %}value="{{plist[1]}}" {% else %} value="{{strings['calc34']}}"{% endif %} maxlength=50>
		</div>
		<div class = "col-md-5">

		<input type="text" class="typeahead" style="width:200px;" id="query_positive" name="positive" {% if plist %}value="{{plist[0]}}" {% else %} value="{{strings['calc35']}}"{% endif %} maxlength=50>
            <img style="margin:0px auto;display:block" src = "{{ url }}data/images/arrow_down_blue.png" width="30" alt = "{{strings['calc31']}}" title = "{{strings['calc31']}}">
		<p style = "text-align:center;"><strong>???</strong></p>
		</div>
		</div>
              </div>
        {% if analogy_value %}
        <div class = "row">

	{% for model in analogy_value %}
	    <div class = "col-md-5">
    	    <h3><strong><a href="{{ url }}{{lang}}/models#{{model}}">{{ strings[models[model]]}}</a></strong></h3>
    	    <span style = "font-size:larger;">
    	    <ol>
        
    	    {% for res in analogy_value[model] if res != "Incorrect tag!" %}
    		<li style='margin: 10px 0;'>

             {% if 'is unknown' in res %}

                {{strings['similar18']}}
            {% elif 'No similar words' in res %}

                {{strings['similar30']}}

                {% else %}

		<a href="{{ url }}{{lang}}/{{ model }}/{{res[0]}}/" title="{{strings['synraw15']}} {{ res[0].split('_')[-1] }}, {{strings['synraw14']}} {{ frequencies[model][res[0]][0]}}" {% if frequencies[model][res[0]][1] == 'high'%} style="color: green;"  {% elif frequencies[model][res[0]][1] == 'low' %} style="color: red;"  {% endif %}>
		{{res[0].split('_')[0].replace('::', ' ')}}</a> {{ "{:.2f} ".format(res[1]) }}
    		{% if wordimages[res[0].split('_')[0]]  %}
	        <div class="avataricon">
		    <a href="https://en.wikipedia.org/wiki/{{ res[0].split('_')[0] }}" target="_blank">
                <img src = "{{ wordimages[res[0].split('_')[0]] }}" alt = "{{res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" title = "{{ res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" width="30">
            </a>
	        </div>
            {% endif %}
            {% endif %}

            </li>
    	    {% endfor %}
        
    	    </ol></span>
        
        </div>
	{% endfor %}
	</div>
    <hr>
    <p><i>{{strings['base18']}}</i></p>
    {% endif %}
    
    {% if error %}
    <p> <span style = "font-size:larger;"><strong>
    {% if 'Incorrect tag' in error%}
        {{strings['similar22']}}
    {% elif 'Incorrect query' in error %}
        {{strings['similar21']}}
        {% endif %}
    </strong></span></p>
    {% endif %}
            </div>
              <div class="checkbox">
                  <p><small><em>{{strings['similar3']}}</em></small></p>
                  <fieldset>
                      <small>
                        {% for m in models %}
                      <label>
                          <input type="checkbox" {%if m in usermodels %}checked{% endif %} name="calcmodel" value="{{ m }}">{{ strings[models[m]] }}
                      </label>
                      {% endfor %}
                      </small>
                  </fieldset>
              </div>
                  {% if tags %}
                  <p><small><em>{{strings['similar9']}}</em></small></p>
                  <div class="radio">
                      <small>
                         {% for tag in tags2show %}
                           <label>
                                <input type="radio" name="pos" value="{{ tag }}" {% if tag in userpos %} checked {% endif %}> {{strings[tags2show[tag]]}}
                           </label>
                        {% endfor %}
                          <label>
                            <input type="radio" name="pos" value="ALL" {% if not userpos %} checked {% endif %}> {{strings['similar14']}}
                          </label>
                      </small>
                  </div>
                  {% endif %}
              <button type="submit"  id="send_calc_query" class="btn btn-primary" name="calc_query" value = "{{strings['calc18']}}">{{strings['calc18']}}</button>
            </form>
                    </div>
                <div class="col-md-5">
                    <form method=post>
                        <div class="form-group">
                            <p>{{strings['calc32']}}</p>
                            <p>{{strings['calc3']}}</p>
                            {% if plist2 %}
                            <span style = "font-size:larger;"><span style = "font-size:larger;"><strong>
                                <span style="color:green;">+</span></strong></span></span><input type="text" class="form-control" name="positive1" value="{{ ' '.join(plist2) }}" maxlength=300>
                            <span style = "font-size:larger;"><span style = "font-size:larger;"><strong>
                                <span style="color:red;">-</span></strong></span></span><input type="text" class="form-control" name="negative1" value="{{ ' '.join(nlist2) }}" maxlength=300>
                            {% else %}
                            <span style = "font-size:larger;"><span style = "font-size:larger;"><strong>
                                <span style="color:green;">+</span></strong></span></span><input type="text" class="form-control" name="positive1" placeholder="{{strings['calc13']}}" maxlength=300>
                            <span style = "font-size:larger;"><span style = "font-size:larger;"><strong>
                                <span style="color:red;">-</span></strong></span></span><input type="text" class="form-control" name="negative1" maxlength=300>
                            {% endif %}
                        </div>
        {% if calc_value %}
        <div class = "row">
	{% for model in calc_value %}
	    <div class = "col-md-5">
    	    <h3><strong><a href="{{ url }}{{lang}}/models#{{model}}">{{ strings[models[model]]}}</a></strong></h3>
    	    <span style = "font-size:larger;">
    	    <ol>
        
    	    {% for res in calc_value[model] if res != "No similar words of this part of speech." and not 'No similar words' in res and not 'is unknown' in res %}
    		<li style='margin: 10px 0;'>
                
<a href="{{ url }}{{lang}}/{{ model }}/{{res[0]}}/" title="{{strings['synraw15']}} {{ res[0].split('_')[-1] }}, {{strings['synraw14']}} {{ frequencies[model][res[0]][0] }}" {% if frequencies[model][res[0]][1] == 'high'%} style="color: green;"  {% elif frequencies[model][res[0]][1] == 'low' %} style="color: red;"  {% endif %}>
		{{res[0].split('_')[0].replace('::', ' ')}}</a> {{ "{:.3f} ".format(res[1]) }}
    	    {% if wordimages[res[0].split('_')[0]]  %}
	        <div class="avataricon">
		    <a href="https://en.wikipedia.org/wiki/{{ res[0].split('_')[0] }}" target="_blank">
                <img src = '{{ wordimages[res[0].split('_')[0]] }}' alt = "{{res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" title = "{{ res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" width="30">
        	    </a>
	        </div>
            {% endif %}
            </li>
    	    {% endfor %}
        
    	    </ol></span>
        
    	    {% for res in calc_value[model] if 'No results' in res or 'No similar words' in res or 'is unknown' in res %}
    	    {% if 'is unknown' in res %}
                <strong> {{strings['similar18']}}</strong>
            {% elif 'No similar words' in res %}
                <strong> {{strings['similar30']}}</strong>
            {% else %}
    		<strong>{{ res.decode('utf-8') }}</strong>
    	     {% endif %}
    	    {% endfor %}
        </div>
	{% endfor %}
	</div>
    <hr>
    <p><i>{{strings['base18']}}</i></p>
    {% endif %}
    
                        {% if calc_error %}
                        <p> <span style = "font-size:larger;"><strong>

                         {% if 'Incorrect tag' in calc_error %}
                            {{strings['similar22']}}
                            {% elif 'Incorrect query' in calc_error %}
                            {{strings['similar21']}}
                        {% endif %}

                        </strong></span><p>
                        {% endif %}
                        <div class="checkbox">
                  <p><small><em>{{strings['similar3']}}</em></small></p>
                  <fieldset>
                      <small>
                        {% for m in models %}
                      <label>
                          <input type="checkbox" {%if m in usermodels %}checked{% endif %} name="calcmodel" value="{{ m }}">{{ strings[models[m]] }}
                      </label>
                      {% endfor %}
                      </small>
                  </fieldset>
              </div>
                {% if tags %}
                    <p><small><em>{{strings['similar9']}}</em></small></p>
                    <div class="radio">
                      <small>
                        {% for tag in tags2show %}
                           <label>
                                <input type="radio" name="calcpos" value="{{ tag }}" {% if tag in userpos %} checked {% endif %}> {{strings[tags2show[tag]]}}
                          </label>
                        {% endfor %}
                        <label>
                            <input type="radio" name="calcpos" value="ALL" {% if not userpos %} checked {% endif %}> {{strings['similar14']}}
                        </label>
                      </small>
                  </div>
                {% endif %}
                        <button type="submit" class="btn btn-primary" name="calc_query" value = "{{strings['calc18']}}">{{strings['calc18']}}</button>
                    </form>
                </div>
            </div>
{% endblock %}
