<!-- This template extends the base.html template. -->
{%- extends "base.html" -%}
<!-- The "block title" tag changes the title in the browser tab and the header on the page. -->
{%- block title -%}
<title>{{strings['base3']}}: {{strings['contextual1']}}</title>
{%- endblock title -%}
<!-- webpage content -->
{%- block content %}
<div class="row">
  <div class="col-md-10">
    <h2>{{strings['contextual1']}}</h2>
    <!-- Request field -->
    <div id="queryform">
      <form id="inputform" action="#" method=post>
        <div class="form-group">
          <!-- Caption ("Enter a word..." ) -->
          <p>{{strings['contextual2']}}</p>
          <!-- If there was a request, it's shown in the field, else the default "computer_NOUN" is shown -->
          {%- if results %}
          <input type="text" class="typeahead" id="query" name="input_sentence" value="{{ sentence }}" maxlength=100>
          {%- else %}
          <input type="text" class="typeahead" id="query" name="input_sentence" value="{{strings['contextual3']}}" maxlength=100>
          {% endif -%}
        </div>
        <!-- Button "Find similar words!" is placed in <form> to be able to send data to the server -->
        <button type="submit" class="btn btn-primary" id="send" name="list_query">{{strings['similar15']}}</button>
      </form>
    </div>
    <!-- Featuring results -->
    {% if results -%}
    <h3>
      <strong>
        {{strings['contextual4']}}
      </strong>
    </h3>
    <!-- Checkbox for frequency selection-->
    <div class="checkbox" id="frequencyCheck">
      <p><em>{{strings['frequency1']}}</em></p>
      <label class="frequency-high" title="{{strings['frequency5']}}">
      <input id="high" type="checkbox" checked>{{ strings['frequency2']}}</label>
      <label class="frequency-mid" title="{{strings['frequency6']}}">
      <input id="mid" type="checkbox" checked>{{ strings['frequency3'] }}</label>
      <label class="frequency-low" title="{{strings['frequency7']}}">
      <input id="low" type="checkbox">{{ strings['frequency4'] }}</label>
    </div>
    <!-- Featuring list of results -->
    <div class="table-responsive"'>
      <table class="table table-borderless">
        <thead>
          <tr>
      {% for word in header -%}
          <th scope="col">
            {% if (word[0]|length > 1) and (word[1] not in ['ADP', 'CCONJ', 'PRON', 'AUX', 'DET', 'SCONJ', 'PART'])%}
          <h3><strong>
            <a href="{{ url }}{{lang}}/{{ model }}/{{word[0]}}/"
          title="{{strings['synraw14']}} {{ frequencies[word[0]][0]}}">{{ word[0] }}</a>
          </strong></h3>
          {%- else %}
          <h3><i>{{ word[0] }}</i></h3>
          {% endif -%}
          </th>
      {% endfor -%}
          </tr>
        </thead>
        <tbody>
          {%- for row in results %}
            <tr>
          {% for res in results[row] %}
          {% if res != 'None' %}
          <td style="font-size: {{res[2]-}}px">
              <a href="{{ url }}{{lang}}/{{ model }}/{{res[0]}}/" title="{{strings['synraw14']}} {{ frequencies[res[0]][0]}}" class="frequency-{{frequencies[res[0]][1]}}">
                {{ res[0] }}
              </a>
          {% if wordimages[res[0]] -%}
          <div class="avataricon">
            <a href="https://en.wikipedia.org/wiki/{{ res[0] }}" target="_blank">
            <img src = "{{ wordimages[res[0].split('_')[0]] }}" alt = "{{res[0]|capitalize }} {{strings['synraw11']}}"
              title = "{{ res[0]|capitalize }} {{strings['synraw11']}}" width="30">
            </a>
          </div>
          {% endif -%}
        </td>
        {% else %}
        <td></td>
        {% endif %}
          {%- endfor -%}
            </tr>
          {%- endfor -%}
      </tbody>
      </table>
    </div>
    {% endif -%}
  </div>
  <!-- class="col-md-10" ends -->
</div>
<!-- class="row" ends -->
{%- endblock %}
<!-- The content block is over. -->
