<!-- This template extends the base.html template. -->
{%- extends "base.html" -%}
<!-- The "block title" tag changes the title in the browser tab and the header on the page. -->
{%- block title -%}
<title>{{strings['base3']}}: {{strings['dynamic1']}}</title>
{%- endblock title -%}
<!-- webpage content -->
{%- block content %}
<div class="row">
  <div class="col-md-10">
    <h2>{{strings['dynamic1']}}</h2>
    <!-- Request field -->
    <div id="queryform">
      <form id="inputform" action="#" method=post>
        <div class="form-group">
          <!-- Caption ("Enter a word..." ) -->
          <p>{{strings['dynamic2']}}</p>
          <!-- If there was a request, it's shown in the field, else the default "computer_NOUN" is shown -->
          {%- if list_value %}
          <input type="text" class="typeahead" id="query" name="input_sentence" value="{{ sentence }}" maxlength=100>
          {%- else %}
          <input type="text" class="typeahead" id="query" name="input_sentence" value="{{strings['dynamic3']}}" maxlength=100>
          {% endif -%}
        </div>
        <!-- Button "Find similar words!" is placed in <form> to be able to send data to the server -->
        <button type="submit" class="btn btn-primary" id="send" name="list_query">{{strings['similar15']}}</button>
      </form>
    </div>
    <!-- Featuring results -->
    {% if list_value -%}
    <h3>
      <strong>
        {{strings['dynamic4']}}
      </strong>
    </h3>
    <!-- Featuring list of results -->
    <div class="row">
      {% for word in list_value -%}
      <div class="col-sm-2">
        <h3><strong>{{ word }}</strong></h3>
        <ul class="list-unstyled" id="{{ word }}">
          {%- for res in list_value[word][:5] if res != "Incorrect tag!" %}
          <li style="font-size: {{res[2]-}}px">{{ res[0] }}</li>
          {%- endfor -%}
        </ul>
      </div>
      {% endfor -%}
    </div>
    {% endif -%}
  </div>
  <!-- class="col-md-10" ends -->
</div>
<!-- class="row" ends -->
{%- endblock %}
<!-- The content block is over. -->
