{% extends "base.html" %}

{% block content %}
        <h1>{{strings['home1']}}</h1>
          <p class="lead">"You shall know a word by the company it keeps." (Firth 1957)</p>

	<p>{{strings['home2']}}</p>
            <div id="queryform">
            <form id="inputform" action="#" method=post>
              <div class="form-group">
        {% if word %}
        <input type="text" class="typeahead" id="query" name="list_query" value="{{ word }}" maxlength=100>
        {% else %}
        <input type="text" class="typeahead" id="query" name="list_query" placeholder="computer_NOUN" maxlength=100>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" id="send" name="list_query" value = "Produce a list of quazy-synonyms">{{strings['home3']}}</button>
            </form>
     </div>
      {% if list_value %}
        <h3><strong>{{strings['home4']}} <i><a href="{{request.script_root}}/{{lang}}/{{ model }}/{{ word }}/">{{ word.split("_")[0].replace('::', ' ') }}</a></i> ({{strings['home5']}} <a href="{{request.script_root}}/{{lang}}/models#{{model}}">{{ model}}</a>)</strong></h3>
        <big>
        <ol>
        {% for res in list_value if not "unknown to the model" in list_value and res[0] != "No results" and res != "Incorrect tag!"  %}
        <li>
        <a href="{{request.script_root}}/{{lang}}/{{ model }}/{{res[0]}}/">{{res[0].split('_')[0].replace('::', ' ')}}</a> {{ "{:.3f} ".format(res[1]) }}
        </li>
        {% endfor %}
        </ol>
        </big>
        {% for res in list_value if "unknown to the model" in res or res[0] == "No results" %}
	{% if res[0] == "No results" %}
        <big><strong>{{ res[0] }}</strong></big>
        {% else %}
        <big><strong>{{ res }}</strong></big>
        {% endif %}
        {% endfor %}
        {% for res in list_value if res == "Incorrect tag!"  %}
        <big><strong>{{ res }}</strong></big>
        {% endfor %}
    {% elif error %}
     <big><strong>
     <p>{{ error }}</p>
    </strong></big>

    {% endif %}
        
     
{% endblock %}
