{% extends "base.html" %}

{% block content %}
        <h1>{{strings['home1']}}</h1>
          <p class="lead">{{strings['home6']}}</p>

	<p>{{strings['home2']}}</p>
            <div id="queryform">
            <form id="inputform" action="#" method=post>
              <div class="form-group">
        {% if word %}
        <input type="text" class="typeahead" id="query" name="list_query" value="{{ word }}" maxlength=100>
        {% else %}
        <input type="text" class="typeahead" id="query" name="list_query" value="{{strings['home7']}}" maxlength=100>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" id="send" name="list_query">{{strings['home3']}}</button>
            </form>
     </div>
      {% if list_value %}
        <h3><strong>{{strings['home4']}} <i><a href="{{ url }}{{lang}}/{{ model }}/{{ word }}/">{{ word.split("_")[0].replace('::', ' ') }}</a></i> ({{strings['home5']}}
            <a href="{{ url }}{{lang}}/models#{{model}}">{{ model}}</a>)</strong></h3>
        <div style="width:300px;">
        <big>
        <ol>
        {% for res in list_value if not "unknown to the model" in list_value and res[0] != "No results" %}
        <li style='margin: 10px 0;'>
        <a href="{{ url }}{{lang}}/{{ model }}/{{res[0]}}/">{{res[0].split('_')[0].replace('::', ' ')}}</a> {{ "{:.3f} ".format(res[1]) }}
        {% if wordimages[res[0].split('_')[0]]  %}
	        <div class="avataricon" style="clear:both;">
		    <a href="https://en.wikipedia.org/wiki/{{ res[0].split('_')[0] }}" target="_blank">
                <img src = "{{ wordimages[res[0].split('_')[0]] }}" alt = "{{res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" title = "{{ res[0].split('_')[0]|capitalize }} {{strings['synraw11']}}" width="30">
            </a>
	        </div>
            {% endif %}
        </li>
        {% endfor %}
        </ol>
        </big>
        </div>

    {% elif error %}
      <p> <span style = "font-size:larger;"><strong>

          {% if 'Incorrect tag' in error %}
                   {{strings['similar22']}}
          {% elif 'Incorrect query' in error %}
                   {{strings['similar21']}}
          {% else %}
            {{strings['similar18']}} {{ word }}
          {% endif %}

          </strong></span><p>
    {% endif %}
        
     
{% endblock %}
